html {
    font-size: 10px;
}

body {
    font-size: 1.4rem;
    display: flex;
}

.nav {
    width: 200px;
    height: 100vh;
    position: fixed;
    color: white;
    background-color: red;
    font-size: 1.6rem;
    padding: 5px;
}

.nav-item:hover {
    background-color: white;
}

.nav-item:hover .nav-link {
    color: red;
}

.nav-link {
    color: white;
}

.content {
    margin-left: 200px;
}
