doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet', href='/vendors/bootstrap-4.4.1-dist/css/bootstrap.min.css')
  link(rel='stylesheet', href='/vendors/fontawesome-free-5.13.0-web/css/all.min.css')
  link(rel='stylesheet', href='/vendors/fontawesome-free-5.13.0-web/css/fontawesome.min.css')
  link(rel='stylesheet', href='/stylesheets/admin/common.css')
ul.nav.flex-column
  li.nav-item
    a.nav-link.active(href='admin/movies')
      i.fas.fa-film
      |  Manage Movies
  li.nav-item
    a.nav-link(href='admin/actors')
      i.fas.fa-universal-access
      |  Manage Actors
  li.nav-item
    a.nav-link(href='admin/directors')
      i.fas.fa-compass
      |  Manage Directors
  li.nav-item
    a.nav-link(href='admin/genres')
      i.fas.fa-filter
      |  Manage Genres
  li.nav-item
    a.nav-link(href='admin/users')
      i.fas.fa-users
      |  Manage Users
  li.nav-item.mt-auto
    a.nav-link(href='users/logout')
      i.fas.fa-sign-out-alt
      |  Logout
block content
