extends common.pug

append head
  link(rel='stylesheet', href='/stylesheets/admin/movies.css')
  title Manage Movies

block content
  .content
    form(action='/admin/movies', method='POST')
      .form-group.row
        label.col-sm-2.col-form-label(for='inputMovieName') Name
        .col-sm-10
          input#inputMovieName.form-control(type='text', name='name', placeholder='Movie Name')
      .form-group.row
        label.col-sm-2.col-form-label(for='inputReleaseDate') Release Date
        .col-sm-10
          input#inputReleaseDate(type='date', name='releaseDate')
      .form-group.row
        label.col-sm-2.col-form-label(for='inputTime') Time
        .col-sm-10
          input#inputTime.form-control(type='number', name='time', placeholder='Time')
      .form-group.row
        label.col-sm-2.col-form-label(for='inputGenre') Genre
        .col-sm-10
          input#inputGenre.form-control(type='text', name='genre', placeholder='Genre')
      .form-group.row
        label.col-sm-2.col-form-label(for='inputTrailerLink') Trailer Link
        .col-sm-10
          input#inputTrailerLink.form-control(type='text', name='trailerLink', placeholder='Trailer Link')
      .form-group.row
        label.col-sm-2.col-form-label(for='inputDescription') Description
        .col-sm-10
          textarea#inputDescription.form-control(name='description', rows='3', placeholder='Description')
      button.btn.btn-danger.mx-auto(type='submit') Add Movies
  
