html {
    font-size: 10px;
}

body {
    color: #666;
}

.header {
    background-color: #f8f9fa;
    font-size: 1rem;
}

.navbar-brand {
    font-size: 2.5rem;
    font-weight: 600;
}

#search-bar {
    width: 200px;
    height: 35px;
    font-size: 1.4rem;
}

#search-btn {
    font-size: 1.4rem;
    height: 35px;
}

.nav-link {
    margin: auto 10px;
    color: black !important;
    font-size: 1.4rem;
}

.nav-item:hover a {
    color: red !important;
}

h2 {
    text-align: center;
    font-size: 3.5rem;
}

section {
    padding: 50px 0;
}

iframe {
    width: 100%;
    height: 100vh;
    margin: 50px 0;
}

.fas, .fa{
    color: red;
}

.movie-name, 
.section-title-black {
    color: black;
}

.section-title-white, .fab {
    color: white;
}

.movie, 
.actors-grid,
.other-sites-marks {
    margin-top: 50px;
}

.genres {
    color: red;
    font-family: 1.5rem;
}

.movie-name {
    font-size: 3rem;
}

.poster-container {
    flex: 1;
}

.movie-info {
    flex: 2;
    font-size: 1.4rem;
}

.movie-general-info {
    line-height: 2em;
}

.movie-info-index {
    font-weight: 600;
    display: inline-block;
    width: 100px;
}


/* TRAILERS SECTION */
.trailer {
    background-color: black;
}


/* ACTORS SECTION */

.person-card {
    position: relative;
}

.person-card-wrapper {
    display: inline-block;
    position: relative;
}

.person-name {
    display: block;
    max-width: 90%;
    word-wrap: break-word;
    font-size: 2rem;
    color: white;
    font-weight: 700;
    position: absolute;
    top: 80%;
    left: 5%;
    transition: .5s;
}

.person-card-overlay {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: black;
}

.person-card-wrapper:hover .person-card-overlay {
    opacity: .5;
}

.person-card-wrapper:hover .person-name {
    transform: translateX(10%);
}


/* REVIEWS SECTION */
.mark-wrapper h3{
    text-align: center;
}

.mark-icon-wrapper {
    width: 200px;
    height: 200px;
    background-color: red;
    border-radius: 200px;
    border: 1px solid red;
    text-align: center;
}

.mark-icon-wrapper:hover {
    background-color: white;
}

.mark-icon-wrapper i {
    line-height: 200px;
    font-size: 5rem;
}

.mark-icon-wrapper:hover .fab {
    color: red;
}


.comments-wrapper {
    margin: 100px auto;
    font-size: 1.4rem;
    padding: 0 50px;
}

.media {
    margin: 20px 0;
}

.user-avatar {
    width: 64px;
    height: 64px;
}

.user-name {
    font-size: 1.5rem;
    color: black;
}

#post-comment *{
    font-size: 1.4rem;
}

#post-comment-btn {
    font-size: inherit;
}

/* FOOTER */
footer {
    background-color: black;
}


