html {
    font-size: 10px;
}

body {
    color: #666;
}

h2 {
    text-align: center;
    font-size: 3.5rem;
}

.fas, .fa{
    color: red;
}

.movie-name, .section-title-black {
    color: black;
}

.section-title-white {
    color: white;
}

.section-title {
    font-weight: 6050;
}

.movie {
    margin: 50px 0;
}

.genres {
    color: red;
    font-family: 1.5rem;
}

.movie-name {
    font-size: 3rem;
}

.poster-container {
    flex: 1;
}

.movie-info {
    flex: 2;
    font-size: 1.4rem;
}

.movie-general-info {
    line-height: 2em;
}

.movie-info-index {
    font-weight: 600;
    display: inline-block;
    width: 100px;
}


.actor-card {
    position: relative;
}

.actor-card-wrapper {
    display: inline-block;
    position: relative;
}

.actor-name {
    display: block;
    max-width: 90%;
    word-wrap: break-word;
    font-size: 2rem;
    color: white;
    font-weight: 700;
    position: absolute;
    top: 80%;
    left: 5%;
    transition: .5s;
}

.actor-card-overlay {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: black;
}

.actor-card-wrapper:hover .actor-card-overlay {
    opacity: .5;
}

.actor-card-wrapper:hover .actor-name {
    transform: translateX(10%);
}


footer {
    background-color: black;
}


